<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="dashboard-page">

<div class="dashboard-wrapper">

    <div class="dashboard-topbar">

        <a href="/" class="back-btn">← Back</a>

        <h1>Analytics Dashboard</h1>

        {% if cleaned_file %}
        <a href="{{ url_for('download_file', filename=cleaned_file.split('/')[-1]) }}"
        class="download-btn">
            Download Cleaned Data
        </a>
        {% endif %}

    </div>

    <div class="kpi-grid">

        <div class="kpi-card large-card">
            <h3>Raw Dataset</h3>

            <div class="kpi-list">
                <p>Rows <span>{{ raw_kpis.rows }}</span></p>
                <p>Columns <span>{{ raw_kpis.columns }}</span></p>
                <p>Missing <span>{{ raw_kpis.missing_values }}</span></p>
                <p>Duplicates <span>{{ raw_kpis.duplicates }}</span></p>
            </div>
        </div>

        <div class="kpi-card large-card">
            <h3>Cleaned Dataset</h3>

            <div class="kpi-list">
                <p>Rows <span>{{ cleaned_kpis.rows }}</span></p>
                <p>Columns <span>{{ cleaned_kpis.columns }}</span></p>
                <p>Missing <span>{{ cleaned_kpis.missing_values }}</span></p>
                <p>Duplicates <span>{{ cleaned_kpis.duplicates }}</span></p>
            </div>
        </div>

        {% if quality %}
        <div class="kpi-card quality-card">
            <h3>Quality Score</h3>
            <div class="quality-score">{{ quality.quality_score }}%</div>
        </div>
        {% endif %}

    </div>

    <div class="chart-bento-grid">

        {% for chart in charts %}

        <div class="chart-card">
            <img src="/{{ chart }}" alt="Chart">
        </div>

        {% endfor %}

    </div>

</div>

</body>
</html>